
/*********************************************************/
/*---------------------- FUENTES ------------------------*/
/*********************************************************/

@font-face {
    font-family: 'thesans-italicregular';
    src: url('../../fonts/thesans-italic-webfont.eot');
    src: url('../../fonts/thesans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thesans-italic-webfont.woff') format('woff'),
         url('../../fonts/thesans-italic-webfont.ttf') format('truetype'),
         url('../../fonts/thesans-italic-webfont.svg#thesans-italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thesanslight-italicregular';
    src: url('../../fonts/thesanslight-italic-webfont.eot');
    src: url('../../fonts/thesanslight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thesanslight-italic-webfont.woff') format('woff'),
         url('../../fonts/thesanslight-italic-webfont.ttf') format('truetype'),
         url('../../fonts/thesanslight-italic-webfont.svg#thesanslight-italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_sans_light-regular';
    src: url('../../fonts/ufonts.com_thesans_light_plain-webfont.eot');
    src: url('../../fonts/ufonts.com_thesans_light_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ufonts.com_thesans_light_plain-webfont.woff') format('woff'),
         url('../../fonts/ufonts.com_thesans_light_plain-webfont.ttf') format('truetype'),
         url('../../fonts/ufonts.com_thesans_light_plain-webfont.svg#the_sans_light-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vagroundedlightlightLtLt';
    src: url('../../fonts/vagrounded-light-webfont.eot');
    src: url('../../fonts/vagrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/vagrounded-light-webfont.woff') format('woff'),
         url('../../fonts/vagrounded-light-webfont.ttf') format('truetype'),
         url('../../fonts/vagrounded-light-webfont.svg#vagroundedlightlightLtLt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'vagron';
    src: url('../../fonts/vagron.eot');
    src: url('../../fonts/vagron-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/vagron-webfont.woff') format('woff'),
         url('../../fonts/vagron-webfont.ttf') format('truetype'),
         url('../../fonts/vagron-webfont.svg#vagron-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
* Mootools Simple Modal
* Version 1.0

*/

* {
	font-family:'vagroundedlightlightLtLt';
	}

#simple-modal-overlay {
  position: fixed ;
  display: block;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#303030));
  background: -webkit-radial-gradient(circle, #ffffff, #303030);
  background: -moz-radial-gradient(circle, #ffffff, #303030);
  background: -ms-radial-gradient(circle, #ffffff, #303030);
}
.simple-modal {
  /* Style rewrite */

  width: 600px;
  left: 20px;
  top: 20px;
  /* */

  position: absolute;
  position: fixed;
  margin: 0;
  color: #808080;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 99999;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
    padding-bottom: 5px;
}

.simple-modal .simple-modal-header {
	margin: 0;
	border-bottom: 1px solid #EEEEEE;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.simple-modal .simple-modal-header h1 {
  margin: 0;
  color: #007934;
  font-size: 24px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 36px;
  padding-left: 40px;
  background:url(../../img/popup/alert.png) no-repeat 2px 2px;
}
.simple-modal a.close, .simple-modal a.previous-image, .simple-modal a.next-image {
  position: absolute;
  top: 16px;  
  color: #999;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 10px;
  text-decoration: none;
}
.simple-modal a.close {
  right: 5px;
  width:36px;
  height:36px;
  background-image:url(../../img/popup/BotonCerrarVentanasEmergentes.png);
  background-repeat:no-repeat;
  top:12px;
}
.simple-modal a.previous-image {
  right: 80px;  
}
.simple-modal a.next-image {
  right: 60px;
}
.simple-modal a.close:hover, .simple-modal a.previous-image:hover, .simple-modal a.next-image:hover {
  color: #444;
}
.simple-modal .simple-modal-body {
  padding: 15px;
  /* Extra style */

}
.simple-modal .simple-modal-body div.contents {
  overflow: hidden;
}

.simple-modal .simple-modal-body div.contentsPopupAddress {
  overflow-y: auto;
  max-height: 250px;
}

.simple-modal .simple-modal-body p {
  font-size: 13px;
  font-weight: normal;
  color: #606060;
  line-height: 18px;
}
.simple-modal .simple-modal-body p img {
	float: left;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 100px;
	margin-left: auto;
}
.simple-modal .simple-modal-footer {
  display: block;
  background-color: #F5F5F5;
  /*padding: 14px 15px 15px;*/
  border-top: 1px solid #EEEEEE;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 0 #FFF;
  box-shadow: inset 0 1px 0 #FFF;
  zoom: 1;
  margin-bottom: 0;
  text-align: center;
}
    .simple-modal .simple-modal-footer1 {
        display: block;
        background-color: #F5F5F5;
        /*padding: 14px 15px 15px;*/
        border-top: 1px solid #EEEEEE;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: inset 0 1px 0 #FFF;
        -moz-box-shadow: inset 0 1px 0 #FFF;
        box-shadow: inset 0 1px 0 #FFF;
        zoom: 1;
        margin-bottom: 0;
    }

        .simple-modal .simple-modal-footer1 a.btn {
            display: block;
            background-color: #F5F5F5;
            /*padding: 14px 15px 15px;*/
            border-top: 1px solid #EEEEEE;
            -webkit-border-radius: 0 0 6px 6px;
            -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
            -webkit-box-shadow: inset 0 1px 0 #FFF;
            -moz-box-shadow: inset 0 1px 0 #FFF;
            box-shadow: inset 0 1px 0 #FFF;
            zoom: 1;
            margin-bottom: 0;
            text-align: center;
        }

.simple-modal .simple-modal-footer a.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 7px 15px;
  font-size: 17px;
  line-height: normal;
  border: 1px solid transparent;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  transition: 0.2s linear all;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5dbf0c;
  background-repeat: repeat-x;
  margin-right: 15px;
  margin:10px 0;
}

.simple-modal .simple-modal-footer a.btn:hover {
  background-color: #007934;
  } 
  
  
.simple-modal .simple-modal-footer a.btn.primary {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007934;
  background-repeat: repeat-x;
  margin-right: 15px;
  border-radius:0px;
}

.simple-modal .simple-modal-footer a.btn.primary:hover {
  background-color: #444;
}
/*.simple-modal .simple-modal-footer a.btn.secondary {
  padding: 5px 2px 6px;
}*/
.simple-modal .simple-modal-footer a.btn.secondary:hover {
  color: #fff;
}
/* Draggable style */
.simple-modal.draggable .simple-modal-header:hover {
  cursor: move;
  background-color: #f8f8f8;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* Loading style */
.simple-modal.loading .simple-modal-body {
  min-height: 60px;
  background: transparent url("..//loader.gif") no-repeat center center;
}
.simple-modal.loading .simple-modal-body div.contents {
  display: none;
}
.simple-modal.loading .close, .simple-modal.loading .simple-modal-header, .simple-modal.loading .simple-modal-footer {
  display: none;
}
/* Hide header */
.simple-modal.hide-header .simple-modal-header {
  display: none;
}
/* Hide header */
.simple-modal.hide-footer .simple-modal-footer {
  display: none;
}

.simple-modal .simple-modal-body a {
	color:#5dbf0c;
	}

/**/

.simple-modal .simple-modal-body {
padding: 10px;
text-align: center;
}


.simple-modal .simple-modal-footer {

background-color: #fff;
border-top: none;
}

.simple-modal .simple-modal-footer a.btn.primary{
  font-size: 17px;
  background-color: #7ad400;
}

 /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
    .simple-modal .simple-modal-body input[type="submit"]{
        display:block;
        background:#5dbf0c;
        color:#fff !important;
        border:none;
        padding:10px 5%;
        font-size:18px;
        text-align:center;
        margin:5px auto;
        cursor:pointer;
        transition:all 0.5s;
        }

    .simple-modal .simple-modal-body input[type="submit"]:hover {
        background:#007934;
        }

    .simple-modal .simple-modal-body .btn_popup {
        text-align:center;
        }

    .simple-modal .simple-modal-body .btn_popup a {
        display:inline-block;
        background:#5dbf0c;
        color:#fff !important;
        border:none;
        padding:10px 5%;
        font-size:18px;
        text-align:center;
        margin:5px auto;
        cursor:pointer;
        transition:all 0.5s;
        }

    .simple-modal .simple-modal-body .btn_popup a:hover {
        background:#007934;
        }

    .simple-modal .simple-modal-body .formularios_popup {
        margin:10px auto;
        font-size:16px;
        width:100%;
        }

    .simple-modal .simple-modal-body .formularios_popup label {
        display:block;
        float:left;
        width:40%;
        text-align:right;
        margin-top:3px;
        }

    .simple-modal input[type="text"],  .simple-modal input[type="password"],  .simple-modal input[type="number"],  .simple-modal select{
        background:#FFF;
        border: 1px solid #d9d9d9;
        border-radius:5px;
        font-family: 'the_sans_light-regular';
        font-size:18px;
        padding:5px 0 ;
        transition:all 0.3s ease;
        margin:0 2.5% 10px 2.5%;	
        display:block;
        float:left;
        width: 52.5%;
    }


@media screen and (min-width: 1025px) {
    /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/

    .simple-modal {
        left: 25% !important;
        top: 20% !important;
        width: 50% !important;
        }
}

@media screen and (max-width: 1024px) {
    /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
        
    .simple-modal {
        left: 25% !important;
        top: 40px !important;
        width: 50% !important;
        }
}


@media screen and (max-width:768px) {
    
    /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
        
    .simple-modal {
        left: 12% !important;
        width: 75% !important;
        }
    
}


@media screen and (max-width: 670px) {
    
    /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
        
    .simple-modal {
        left: 10% !important;
        width: 80% !important;
        top:2% !important;
        }
    
    .simple-modal .simple-modal-body div.contents {
        overflow: auto !important;
        max-height: 110px;
        }
    
    .simple-modal .simple-modal-footer a.btn {
		display:block;
		width:85%;
		margin:5px 5% !important;
		}
    
}

@media screen and (max-width: 598px) {
    /*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
    .simple-modal {
	left: 10% !important;
    top: 40px !important;
    width: 80% !important;
	}
	
	.simple-modal .simple-modal-body div.contents {
	overflow: auto !important;
	height:auto;
	max-height: 185px;
	}
	
	body .simple-modal .simple-modal-body p img {
		display:block;
		float:none;
		width:30%;
		margin:0 auto 20px auto;
		}
	
	.simple-modal .simple-modal-body input[type="submit"], .simple-modal .simple-modal-body .btn_popup a {
		width:100%;
		padding:10px 0;
		}
	
	.simple-modal .simple-modal-body .btn_popup a:hover {
	background:#007934;
	}

.simple-modal .simple-modal-body .formularios_popup {
	width:100%;
	}
    
    .simple-modal .simple-modal-body .formularios_popup label {
        float:none;
        width:100%;
        margin:5px 0;
        padding: 0;
        text-align:center;
        }

    .simple-modal input[type="text"],  .simple-modal input[type="password"],  .simple-modal input[type="number"],  .simple-modal select{
        margin:5px 0;	
        float:none;
        width: 99%;
    }

}

@media screen and (max-width: 390px) {
       
    .simple-modal .simple-modal-footer a.btn {
		width:80%;
		}
}
    
@media screen and (max-width: 360px) {

/*******************************************************************************/
    /*******************************************************************************/
            
                                /* MODALES */
    
    /*******************************************************************************/
    /*******************************************************************************/
    
    .simple-modal {
	left: 10px !important;
    top: 5% !important;
    width: 90% !important;
	}
	
	.simple-modal .simple-modal-body div.contents {
	overflow: auto !important;
	height:auto;
	max-height: 240px;
	padding:10px;
	}
	
	body .simple-modal .simple-modal-body p img {
		display:block;
		float:none;
		margin:0 auto 10px auto;
		width:30%
		}	
	.simple-modal .simple-modal-footer a.btn {
		display:block;
		width:80%;
		margin:5px 5% !important;
		}
	
	.simple-modal .formularios_popup {
		width:100%;
		}
}
